.parent{
    color:white;
    margin: 0%;
    width: 50%;
}

.child1{
    background-color:rgb(7, 0, 196)
}

.child2{
    background-color: rgb(0, 0, 255)
}

.child3{
    background-color: rgb(0, 82 ,255);
}

.child4{
    background-color: rgb(0, 122 , 255);
}

.child5{ 
    background-color: rgb(0, 163, 255);
}

.child6{
    background-color: rgb(0, 204, 255);
}
.child7{
    background-color:cyan
}

.child8{
    background-color: rgb(123,227,130);
}

.child9{
    background-color: rgb(254, 220, 232)
}

.child10{
    background-color:pink
}
.child11{
    background-color:rgb(251, 174, 188)
}

.child12{
    background-color: rgb(254, 131, 170);
}

.child13{
    background-color:rgb(251, 84, 165)
}

.child14{
    background-color: rgb(244,11,151);
}

.child15{
    background-color: rgb(209, 28, 131);
}